.Header{
    width: auto;
    height: 1080px;
    background-image: url("../../../public/backgorund.png");
    background-size: cover;
}

.navBar{
    display: flex;
    width: auto;
    height: 100px;
    line-height: 100px;
}

.topSts{
    padding-left: 30px;
    margin-right: 1313px;
}

.sts{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.menu{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    padding-right: 34px;
    padding-left: 34px;
}

.title{
    position: relative;
    width: 1005px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 80px;
    left: 550px;
    top: 320px;
}

.description{
    position: relative;
    width: 1306px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    left: 400px;
    top: 340px;
}

.contact{
    position: relative;
    width: 250px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    top: 420px;
    left: 900px;
}

.contact > a{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 80px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 25px;
    padding-left: 27px;
}

@media screen and (min-width:600px){

    .Header{
        width: auto;
        height: 800px;
        background-image: url("../../../public/backgorund.png");
        background-size: cover;
    }

    .topSts{
        padding-left: 20px;
        margin-right: 160px;
    }

    .sts{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    .menu{
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title{
        position: relative;
        width: auto;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 40px;
        left: 60px;
        top: 120px;
    }

    .description{
        position: relative;
        width: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        left: 5px;
        top: 140px;
    }

    .contact{
        position: relative;
        width: 250px;
        height: 80px;
        background-color: white;
        border-radius: 50px;
        top: 200px;
        left: 170px;
    }
    
    .contact > a{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 80px;
        padding-top: 17px;
        padding-bottom: 18px;
        padding-right: 25px;
        padding-left: 27px;
    }
}

@media screen and (min-width:700px){
    .Header{
        width: auto;
        height: 800px;
        background-image: url("../../../public/backgorund.png");
        background-size: cover;
    }

    .topSts{
        padding-left: 30px;
        margin-right: 260px;
    }

    .sts{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    .menu{
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title{
        position: relative;
        width: auto;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 40px;
        left: 120px;
        top: 120px;
    }

    .description{
        position: relative;
        width: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        left: 2px;
        top: 140px;
    }

    .contact{
        position: relative;
        width: 250px;
        height: 80px;
        background-color: white;
        border-radius: 50px;
        top: 190px;
        left: 230px;
    }
    
    .contact > a{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 80px;
        padding-top: 17px;
        padding-bottom: 18px;
        padding-right: 25px;
        padding-left: 27px;
    }
}