.filosofia{
    width: auto;
    background-color: white;
}

.title{
    color: #00529B;
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.section{
    width: auto;
    height: 895px;
    background-color: #F6F6F6;
    display: flex;
}

.vector{
    margin-top: 111px;
    margin-left: 124px;
}

.list{
    width: 919px;
    height: 643px;
    margin-top: 90px;
    margin-left: 120px;
}

.list > li{
    padding-bottom: 65px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 33px;
    color: black;
}

@media (max-width:700px){
    .vector{
        width: 630.84px;
        height: 491px;
        margin-top: 20px;
        margin-left: 55px;
    }

    .section{
        height: 1100px;
    }


    .list{
        position: relative;
        width: 690px;
        height: 643px;
        margin-top: 600px;
        margin-left: -650px;
    }

    .list > li{
        padding-bottom: 65px;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 23px;
        color: black;
    }
}



@media (max-width:600px){
    .vector{
        width: 540.84px;
        height: 401px;
        margin-top: 20px;
        margin-left: 35px;
    }

    .section{
        width: auto;
        height: 1100px;
        background-color: #F6F6F6;
        display: flex;
    }

    .list{
        position: relative;
        width: 540px;
        height: 643px;
        margin-top: 500px;
        left: 130px;
    }

    .list > li{
        padding-bottom: 65px;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 23px;
        color: black;
    }
    
    
}